<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

<insert id="insertBoard">
    insert into Song (title, nickname, singer, album, playtime, genre, comment)
    values
    (#{title} , #{nickname} , #{singer} , #{album}, #{playtime}, #{genre}, #{comment})
</insert>
<update id="updateBoard">
    update Song
    set title=#{title}, nickname=#{nickname}, singer=#{singer}, album=#{album}, playtime=#{playtime}, genre=#{genre}, comment=#{comment}
    where seq=#{seq}
</update>
<delete id="deleteBoard">
    delete from Song where seq=#{seq}
</delete>
<select id="getBoard" resultType="board">
    select * from Song where seq=#{seq}
</select>
<select id="getBoardList" resultType="board">
    select * from Song order by seq desc

</select>
</mapper>